<% content_for :title do  %>
    <%= @entry.meal_type %> &ndash; <%= DateTime.now.to_s(:nice_date) %>
<% end %>

<p id="notice"><%= notice %></p>

<div class="columns mt-6 is-centered">
    <div class="column is-one-third">
        <nav class="panel is-link">
            <p class="panel-heading">
                <%= @entry.meal_type %>
                <%= @entry.category.title %>
            </p>
            <p class="panel-block">
                Calories:
                <%= @entry.calories %>
            </p>
            <p class="panel-block">
                Proteins:
                <%= @entry.proteins %>
            </p>
            <p class="panel-block">
                Carbohydrates:
                <%= @entry.carbohydrates %>
            </p>
            <p class="panel-block">
                Fats:
                <%= @entry.fats %>
            </p>
        </nav>
        <div class="columns is-mobile">
            <div class="column">
              <%= link_to 'Edit', edit_entry_path(@entry) , class: "button is-gray" %> 
              <%= link_to 'Delete', entry_path(@entry) , method: :delete , data:{confirm: "Are you sure?"} , class: "button is-gray" %>
            </div>
            <div class="column">

            </div>
        </div>
 </div>
</div>
