<section class="hero is-link is-small">
  <!-- Hero head: will stick at the top -->
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
            <%= link_to root_path , class: "navbar-item"  do %>
                <img src="https://img.icons8.com/wired/64/000000/chocolate-truffle-.png"/>
                <span class="has-text-weight-bold is-size-4 ml-4">Foodlog</span>
            <% end %>
          <span class="navbar-burger burger" data-target="navbarMenuHeroA">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenuHeroA" class="navbar-menu">
            <div class="navbar-end">
                <span class="navbar-item">
                <%= link_to "Create new entry", new_entry_path , class: "button is-success" %>
                </span>
          </div>
        </div>
      </div>
    </nav>
  </div>

  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
          <% if content_for(:title) %>
              <%= yield :title %>
          <% else %>
              Foodlog
          <% end %>
      </h1>
      
    </div>
  </div>

  <!-- Hero footer: will stick at the bottom -->
  </section>
